[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    cmd = nvim -d $REMOTE $LOCAL
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = true
    style = diff3
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[user]
    email = 
    name = Praveen
[alias]
    st = status -s
    mt = mergetool
    dt = difftool
    co = checkout
    slog = log --format='%C(bold blue)%h %C(bold green)[%<(10,trunc)%ar] %C(dim white)[%<(10,trunc)%an]%C(reset) %C(white)%<(50,trunc)%s%C(bold yellow)%d'
    glog = log --graph --format='%C(bold blue)%h %C(bold green)[%<(10,trunc)%ar] %C(dim white)[%<(10,trunc)%an]%C(reset) %C(white)%<(50,trunc)%s%C(bold yellow)%d'

